.accordion-container{
    font-family: "Josefin Sans", sans-serif;
    width: 25%;
}
.acc-header button{
    color: #00095e;
    font-weight: 700;
}
.acc-header button:focus{
    background-color: transparent;
    border: none;
    box-shadow: none;
}

.faq-img{
    width: 50%;
}


/* ----------Media Query---------- */

/* Media query for extra small device */
@media only screen and (max-width:575px) {
    .faq-container{
        flex-direction: column-reverse;
    }
    .faq-img{
        width: 100%;
    }
    .accordion-container{
    width: 100%;
    }
}

/* Media query for medium device */
@media only screen and (min-width:768px) and (max-width:991px) {
    .accordion-container{
        width: 100%;
    }
}
