.offcanvas-start{
    top: 100px;
    width: 250px;
    height: 300px;
    position: absolute;
    background-color: white;
    color: #00095e;
    font-family: "Josefin Sans", sans-serif;
}

.side-nav-btn{
    background-color: transparent;
}

.expand-btn{
    background-color: transparent;
    display: block;
    border: none;
    position: relative;
    top: 5px;
    left: 0vw;
}

.btn-close:focus{
    outline: none;
    box-shadow: none;
    border: none;
}

.arrow{
    -webkit-text-stroke: 2px white;
}

/* Media query for small device */
@media only screen and (max-width:575px) {
    .offcanvas-start{
        width: 100vw;
        height: 100vh;
    }
}
@media only screen and (min-width:576px) and (max-width:767px) {
    .offcanvas-start{
        width: 80vw;
        height: 100vh;
    }
}
@media only screen and (min-width:768px) and (max-width:991px) {
    .offcanvas-start{
        height: 100vh;
    }
}