.nav-menu{
    color: #00095e !important;
    font-family: "Josefin Sans", sans-serif;
}

.nav-menu:hover{
    color: #f6c103 !important;
    transition: color .5s ease-out;
}

.toggle-btn{
    border: none;
    color: #00095e;
}

.toggle-btn:focus{
    border: none;
    box-shadow: none;
    outline: none;
}

.user-photo{
    width: 8%;
    border-radius: 50%;
    object-fit: cover;
}

.log-out-btn{
    border: none;
    background-color: transparent;
    color: white;
    font-family: "Josefin Sans", sans-serif;
}

.dropdown-nav-menu{
    text-decoration: none;
    color: #f6c103 !important;
    background-color: transparent !important;
    font-family: "Josefin Sans", sans-serif;
}
.dropdown-nav-menu:hover{
    background-color: #dee2e631 !important;
}

.dropdown-profile-menu{
    text-decoration: none;
    color: white !important;
    background-color: transparent !important;
    font-family: "Josefin Sans", sans-serif;
    cursor: auto;
}
.dropdown-profile-menu > div{
    display: grid;
    grid-template-columns : repeat(4, 1fr);
    grid-gap: -10;
    align-content: center;
}
.dropdown-profile-menu > div > img{
    width: 25px;
    margin-right: 5px;
}

/* ----------Media Query---------- */

/* Media query for extra small device */
@media only screen and (max-width:575px) {
    .user-photo{
        width: 15%;
        position: relative;
        left: 42%;
    }
}

/* Media query for small device */
@media only screen and (min-width:576px) and (max-width:767px) {

}


/* Media query for medium device */
@media only screen and (min-width:768px) and (max-width:991px) {
    .user-photo{
        position: relative;
        left: 47%;
    }
}   

/* Media query for large device */
@media only screen and (min-width:992px) and (max-width:1199px) {

}

/* Media query for extra large device */
@media only screen and (min-width:1200px) and (max-width:1399px) {

}

/* Media query for extra extra large device */
@media only screen and (min-width:1400px) {

}