.nav-menu{
    color: #00095e !important;
    font-family: "Josefin Sans", sans-serif;
}
.nav-menu:hover{
    color: #f6c103 !important;
    transition: color .5s ease-out;
}
.toggle-btn{
    border: none;
    color: #00095e;
}
.toggle-btn:focus{
    border: none;
    box-shadow: none;
    outline: none;
}