.info-container{
    border: 1px solid rgb(219, 216, 216);;
    max-width: 70%;
    position: relative;
    left: 13%;
    background-color:#212529;
    padding: 56px 30px 0 30px;
    height: 580px;
}

.info{
    color: #f6c103;
}

.form-container{
    border: 1px solid rgb(219, 216, 216);;
    max-width: 70%;
    position: relative;
    left: 13%;
    background-color:rgba(226, 225, 225, 0.753);
    padding: 26px 30px 0 30px;
    height: 580px;
}

.btn-container{
    display: flex;
    justify-content: space-evenly;
    background-color: white;
    margin: 10px;
    padding: 20px 5px;
}

.btn-container button{
    border: none;
    padding: 7px 25px;
    width: 200px;
    margin: 1px;
    
}

.btn-container button:focus{
    background-color: #f6c103;
    outline: none;
}

.payment-input{
    height: 40px;
    outline: none;
    border: 1px solid rgb(219, 216, 216);
}

.payment-btn{
    margin: 150px 20px 20px 20px;
    position: relative;
    left: 20%;
}

/* success modal tick mark style*/
.success-checkmark {
    width: 100px;
    height: 150px;
    margin: 0 auto;
    }
    .check-icon {
        width: 100px;
        height: 100px;
        position: relative;
        border-radius: 50%;
        box-sizing: content-box;
        border: 4px solid #4CAF50;
    }
    .check-icon::before {
            top: 3px;
            left: -2px;
            width: 30px;
            transform-origin: 100% 50%;
            border-radius: 100px 0 0 100px;
        }
        
        .check-icon::after {
            top: 0;
            left: 30px;
            width: 60px;
            transform-origin: 0 50%;
            border-radius: 0 100px 100px 0;
            animation: rotate-circle 4.25s ease-in;
        }
        
        .check-icon::before, .check-icon::after {
            content: '';
            height: 100px;
            position: absolute;
            transform: rotate(-45deg);
        }
        
        .icon-line {
            height: 5px;
            background-color: #4CAF50;
            display: block;
            border-radius: 2px;
            position: absolute;
            z-index: 10;
        }
        .icon-line.line-tip {
                top: 50px;
                left: 26px;
                width: 25px;
                transform: rotate(45deg);
                animation: icon-line-tip 0.75s;
            }
            
            .icon-line.line-long {
                top: 42px;
                right: 14px;
                width: 47px;
                transform: rotate(-45deg);
                animation: icon-line-long 0.75s;
            }
        
        .icon-circle {
            top: -4px;
            left: -4px;
            z-index: 10;
            width: 100px;
            height: 100px;
            border-radius: 50%;
            position: absolute;
            box-sizing: content-box;
            border: 4px solid rgba(76, 175, 80, .5);
        }
        
        .icon-fix {
            top: 8px;
            width: 5px;
            left: 26px;
            z-index: 1;
            height: 85px;
            position: absolute;
            transform: rotate(-45deg);
        }



@keyframes rotate-circle {
    0% {
        transform: rotate(-45deg);
    }
    5% {
        transform: rotate(-45deg);
    }
    12% {
        transform: rotate(-405deg);
    }
    100% {
        transform: rotate(-405deg);
    }
}

@keyframes icon-line-tip {
    0% {
        width: 0;
        left: 1px;
        top: 19px;
    }
    54% {
        width: 0;
        left: 1px;
        top: 19px;
    }
    70% {
        width: 50px;
        left: -8px;
        top: 37px;
    }
    84% {
        width: 17px;
        left: 21px;
        top: 48px;
    }
    100% {
        width: 25px;
        left: 26px;
        top: 50px;
    }
}

@keyframes icon-line-long {
    0% {
        width: 0;
        right: 46px;
        top: 54px;
    }
    65% {
        width: 0;
        right: 46px;
        top: 54px;
    }
    84% {
        width: 55px;
        right: 0px;
        top: 35px;
    }
    100% {
        width: 47px;
        right: 14px;
        top: 42px;
    }
}