/* ----------Media Query---------- */

/* Media query for extra small device */
@media only screen and (max-width:350px) {
    .wish-btn-2{
        margin-left: 37px;
    }
}

    /* Media query for medium device */
@media only screen and (min-width:351px) and (max-width:369px) {
    .wish-btn-2{
        margin-left: 57px;
    }

}
    /* Media query for medium device */
@media only screen and (min-width:370px) and (max-width:420px) {
    .wish-btn-2{
        margin-left: 67px;
    }

}
@media only screen and (min-width:401px) and (max-width:450px) {
    .wish-btn-2{
        margin-left: 52px;
    }

}
@media only screen and (min-width:451px) and (max-width:550px) {
    .wish-btn-2{
        margin-left: 147px;
    }

}
    /* Media query for medium device */
@media only screen and (min-width:768px) and (max-width:991px) {
    .wish-btn-2{
        margin-left: 237px;
    }

}

/* Media query for large device */
@media only screen and (min-width:992px) and (max-width:1199px) {
    .wish-btn-2{
        margin-left: 47px;
    }

}

/* Media query for large device */
@media only screen and (min-width:1200px){
    .wish-btn-2{
        margin-left: 5.5vw;
    }

}